
form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

form input {
  flex-grow: 1;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
